<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>teset</title>
    <link href="~/Content/SiteWide.css" rel="stylesheet" />
    <link href="~/Content/PublicDrawings.css" rel="stylesheet" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    @model DrawingOnline.Models.PublicDrawingsViewModel
    <div class="site">
        <header>
            <ul class="nav-list" id="coll">
                <li class="icon" id="icon-left" style="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                        <g id="Iconly_Bold_Image" data-name="Iconly/Bold/Image" transform="translate(-2 -2)">
                            <g id="Image" transform="translate(2 2)">
                                <path id="Path_9" data-name="Path 9" d="M28.668,0C35.446,0,40,4.756,40,11.833V28.167C40,35.244,35.446,40,28.666,40H11.332C4.554,40,0,35.244,0,28.167V11.833C0,4.756,4.554,0,11.332,0Zm2.206,21.1c-2.144-1.338-3.8.541-4.246,1.141-.43.58-.8,1.22-1.191,1.86A11.449,11.449,0,0,1,21.5,28.559c-2.747,1.521-4.833.12-6.333-.9a11.043,11.043,0,0,0-1.655-.978c-1.343-.58-2.552.08-4.346,2.359-.941,1.191-1.874,2.372-2.82,3.548a1.543,1.543,0,0,0,.332,2.26A8.259,8.259,0,0,0,11.057,36H27.913a9.05,9.05,0,0,0,2.814-.427,7.4,7.4,0,0,0,4.521-4.223,7.536,7.536,0,0,0,.394-5.482A4.509,4.509,0,0,0,34.616,24.3,21.563,21.563,0,0,0,30.873,21.1ZM13,8a5,5,0,1,0,5,5A5,5,0,0,0,13,8Z" fill="#209bba" />
                            </g>
                        </g>
                    </svg>

                </li>
                <li><a href="@Url.Action("Index","Home")"><h3>Home</h3></a></li>
                <li>
                    <a href="@Url.Action(
                            actionName: "Draw",
                            controllerName: "Home",
                            routeValues: new RouteValueDictionary(new { edit = "false", remix = "false", remixId = "none", drawId = "none" }))"><h3>Draw</h3></a>
                </li>
                <li><a href="@Url.Action("MyDrawings","Home")"><h3>My Drawings</h3></a></li>
                <li><a href="@Url.Action("PublicDrawings","Home")"><h3 class="current-page">Public Drawings</h3></a></li>
                <li class="icon" id="icon-right" style=" ">
                    <a class="menuIcon" href="@Url.Action("Profile","Home")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="40" viewBox="0 0 32 40">
                            <g id="Iconly_Bold_Profile" data-name="Iconly/Bold/Profile" transform="translate(-4 -2)">
                                <g id="Profile" transform="translate(4 2)">
                                    <path id="Path_6" data-name="Path 6" d="M16,26.348c8.677,0,16,1.41,16,6.85S24.629,40,16,40C7.325,40,0,38.59,0,33.15S7.371,26.348,16,26.348ZM16,0A10.583,10.583,0,1,1,5.412,10.582,10.547,10.547,0,0,1,16,0Z" transform="translate(0 0)" fill="#209bba" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </header>
        <content class="content">
            <div id="smallTop">
                <div id="menuIcon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="29.667" viewBox="0 0 43 29.667">
                        <g id="Icon_feather-menu" data-name="Icon feather-menu" transform="translate(-3 -7.5)">
                            <path id="Path_13" data-name="Path 13" d="M4.5,18h40" transform="translate(0 4.333)" fill="none" stroke="#209BBA" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            <path id="Path_14" data-name="Path 14" d="M4.5,9h40" fill="none" stroke="#209BBA" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                            <path id="Path_15" data-name="Path 15" d="M4.5,27h40" transform="translate(0 8.667)" fill="none" stroke="#209BBA" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                        </g>
                    </svg>
                </div>
                <div id="smallTitle">
                    <h3>Public Drawings</h3>
                </div>
            </div>
            <div id="mainContent">
                @if (Model.publicDrawings != null)
                {
                    foreach (var item in Model.publicDrawings)
                    {
                <a class="elementButton" href="@Url.Action(
                            actionName: "Draw",
                            controllerName: "Home",
                            routeValues: new RouteValueDictionary(new { 
                                edit = "false", 
                                remix = "true", 
                                remixId = item.ID.ToString(),
                                drawId = "none",
                            }));;">
                    <div class="drawingElement">
                        @item.CanvasSVG

                    </div>
                    <div class="bottomOverlay">
                        <div>
                            <strong>Name:</strong> @item.Name

                        </div>
                        <div id="center">
                            <strong>User:</strong> @Model.users.Where(x => x.ID == item.UserID).FirstOrDefault().Username
                        </div>
                        <div id="right">
                            @if (item.Remixed)
                            {
                                <strong>Remix of: </strong><strong>@Model.publicDrawings.Where(x => x.ID == item.RemixedID).FirstOrDefault().Name</strong>

                            }
                        </div>

                        </div>
                    
                </a>
                    }
                }
            </div>
        </content>
    </div>
    <script src="~/Scripts/SiteWide.js"></script>
    <script src="~/Scripts/StringToHTML.js"></script>
    <script type="text/javascript">
        var elements = document.getElementsByClassName('drawingElement')
        var remixes = document.getElementsByClassName('remixName')
        document.addEventListener("DOMContentLoaded", function () {
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i].innerText;
                elements[i].innerHTML = '';
                elements[i].insertAdjacentHTML('afterbegin', element);
            }
        });

    </script>
</body>
</html>